# Logs
logs
*.log
npm-debug.log*

node_modules
dist
coverage
*.tsbuildinfo
*.local

# Local environment overrides
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
